name: Tests

on:
  push: {}
  pull_request:
    paths:
      - "**.cs"
      - "**.csproj"

env:
  CI_BUILD: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    permissions:
      actions: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Restore NuGet Package Cache
        uses: actions/cache/restore@v5
        id: cache
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget

      - name: Install dependencies
        run: dotnet restore --locked-mode

      - name: Save NuGet Package Cache
        if: ${{ github.event_name != 'pull_request' && steps.cache.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@v5
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: Build
        run: dotnet build --no-restore --configuration Release --no-restore

      - name: Run tests
        run: dotnet test --no-build --configuration Release --verbosity normal
